{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNEmployment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<h1 class="center-align">Sign Up</h1>

{% if error_message %}
<p class="center-align" style="color:red">{{ error_message }}</p>
{% endif %}

<div class="container">
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value='Sign Up'  class="btn-large right blue darken-1 right">
    </form>
</div>


</html>