{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNEmployment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>


<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/">FUNEmployment</a>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'index_jobs' %}">View All Jobs</a></li>
        </ul>
    </nav>
</header>





    <main>{% block content %} {% endblock %}</main>
</body>