{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNEmployment</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>


<header class="home-header valign-wrapper">
    <div class="container">
        <h1 class="home-head center-align ">Welcome to FUNEmployment</h1>
        <div class=" home-row row " >
            <div class="bton-div col s12 m12 l6 center-align" style="background-color: white;">
                <div id='home-btn'>
                    <a href="{% url 'login' %}" id='a-home-btn'
                        class="blue darken-1 waves-effect waves-light btn-large">
                        <span> LOG IN </span>
                    </a>
                    <a href="{% url 'signup' %}" id='a-home-btn'
                        class="blue darken-1 waves-effect waves-light btn-large">
                        <span> Sign Up </span>
                    </a>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <img src="{% static 'main_app/media/home.jpg' %}" alt="home" class="img-home responsive-img z-depth-3">
            </div>
        </div>
    </div>
</header>

</html>