.home-header{
    height: 35em;
}

.home-head{
    text-size-adjust: auto;
}

.img-home{
    border-radius: 5%;
}

#hom_btn{
    display: flex;
}

.bton-div{
    margin-top: 7%;
}

#a-home-btn{
    width: 50%;
    margin: 5px;
   
}

@media screen and (max-width: 600px) {
    .home-header{
        height: 50em;
        margin: 5%;
    }

     .bton-div{
        margin-top: 0;
        margin-bottom: 5%;
    }
  
}

@media screen and (max-width: 992px) {
    .home-header{
        height: 45em;
        margin: 5%;
    }

    .bton-div{
        margin-top: 0;
        margin-bottom: 5%;
    }
}


@media screen and (max-width: 1200px) {
    .home-header{
        height: 30em;
        margin: 5%;
    }

    .bton-div{
        margin-top: 0;
        margin-bottom: 5%;
    }
}


