{% extends 'base.html' %}

{% block content %}

<h1 class="center-align">{{job.company}}'s Details</h1>

<div class="container">
    <div class="row">
        <div class="col s8 ">
            <div class="left-align">
                <span class="flow-text">{{ job.company }}</span>
                <p>Job Title: {{ job.job_title}}</p>
                <p>Submission Date: {{ job.date }}</p>
                <p>Notes: {{ job.description }}</p>

                <a href="{% url 'update_jobs' job.id %}" class="btn-floating blue darken-1">
                    <i class="material-icons">edit_note</i>
                </a>
                <a href="{% url 'delete_jobs' job.id %}" class="btn-floating red accent-3">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col s12 m5">
            <h3>Reachouts</h3>
            <form action="{% url 'add_reachout' job.id %}" method="post">
                {% csrf_token %}
                {{ reout_form.as_p }}
                <input type="submit" class="btn blue darken-1 right" value="Added Reachout" />
            </form>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Contact Name</th>
                        <th>Source</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reach in job.reout_set.all %}
                    <tr>
                        <td>{{ reach.date }}</td>
                        <td>{{ reach.reout_name }}</td>
                        <td>{{ reach.source }}</td>
                        <td>{{ reach.notes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="col s12 m5 offset-m2">
            <h3>Responses</h3>
            <form action="{% url 'add_response' job.id %}" method="post">
                {% csrf_token %}
                {{ resp_form.as_p }}
                <input type="submit" class="btn blue darken-1 right" value="Added Response" />
            </form>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Response Name</th>
                        <th>Source</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for response in job.resp_set.all %}
                    <tr>
                        <td>{{ response.date }}</td>
                        <td>{{ response.resp_name }}</td>
                        <td>{{ response.source }}</td>
                        <td>{{ response.notes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

  
  

{% endblock %}